<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sort</title>
	<script src="node_modules/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
	<script src="node_modules/element-ui/lib/index.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script type="text/javascript" src="search.js"></script>
<style>
[v-cloak]{
		display: none;
	}
.kuang{
	display:inline-block;
	width:1017px;
	height: auto;
	border: #C8C7BC solid 1.5px;
	background-color:#F0EFE2;
	border-radius: 15px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	margin-left: 230px;
	line-height: 25px
}
a{  text-decoration:none;}
a:hover{  text-decoration:none;}
a:active{  text-decoration:none;}
</style>
</head>
<body style="background-color: #E1E0C7">
	<div id="app">
		<common-navigator></common-navigator>
		<div style="float:left;margin-top:0px;margin-left:15%">
		<common-search></common-search>
		
		</div >

		<table>
			<tr>
				<td>
					<div style="margin-left: 240px;width:1000px">
							<div style="height:10px;width:1000px"></div>
							<el-collapse accordion >
								  <el-collapse-item>
									    <template slot="title" >
									      	<span style="font-size:20px;margin-left:30px;color:#19537D">诗词分类<i class="el-icon-paperclip"></i></span>
									    </template>
									    <div> 
									    	<el-button size="small" round v-for="sort in message"  style="color:#19537D;margin-left:25px;margin-top:10px" :bid='sort.id' @click="buttonpoem($event)">{{sort.name}}
									    	</el-button>
										</div>
								   
								  </el-collapse-item>
							</el-collapse>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="kuang" v-for="poetry in poetries">
						<div >
							<div style="text-align:left;margin-left:34px;margin-top:10px;color:#19537D;font-size:18px;font-weight:bold;cursor:pointer;"  
							        :titleid='poetry.id' @click="jumptopoem($event)">
								    {{poetry.title}}
							</div>
							<div style="text-align:left;margin-left:32px;color:grey;font-size:14px">【作者】<span>{{poetry.author}}</span>【朝代】<span>{{Dynasty}}</span></div>
							<div style="text-align:left;margin-left:30px;margin-right:30px;font-family:NSimSun;line-height:25px;">
									<span  v-for="item in poetry.content">
										{{item}} 
									</span>
							</div>
							<div style="float:right;margin-top:15px;margin-right:10%;"><i class="el-icon-edit-outline" >&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-发帖引用</el-link></i></div>
							<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-star-off">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-加入收藏</el-link></i></div>
							<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-picture-outline">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-生成图片分享</el-link></i></div>
							<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-share">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-分享诗词</el-link></i></div>
		             
							<br />

				            <div style="text-align:left;font-size:large;color:#19537D;margin-left:40px"><i class="el-icon-collection-tag"></i>{{tag}}<el-button size="mini" round v-for="item in poetry.categories"  style="color:#19537D">{{item.name}}</el-button>
							</div>

						</div>
			
						<div style="height:20px"></div>
				
					</div>
	
				</td>
			</tr>
		</table>

		
		

				


	</div>
	<script>
        
	Vue.component('common-navigator',{
			template:`
						<div v-cloak>
							<el-menu
							  :default-active="activeIndex2"
							  class="el-menu-demo"
							  mode="horizontal"
							  background-color="#5D6146"
							  text-color="#fff"
							  active-text-color="#F0EFE2"
							  >
							<img src="photo/1.png" style="float:left;margin-left:120px;margin-top:5px;width:60px;height:50px;">
										
								 	<el-menu-item index="1" >
								  		<a href="main.html">{{text1}}</a>
						  			</el-menu-item>
								 
								  	<el-menu-item index="3" >
								  		<a href="sort.html">{{text3}}</a>
							  		</el-menu-item>
								 
								  	<el-menu-item index="5" style="float: right;margin-right: 170px" @click="jump">
								  		{{text5}}&nbsp;
								  		<span class="demo-basic--circle">
								  			<span class="block">
								  				<el-avatar :size="26" :src="url" style="margin-bottom: 8px"></el-avatar>
								  			</span>
								  		</span>
							  		</el-menu-item>
								</el-menu>
			
						</div>`,
			data(){
				return{
					activeIndex2: '3',
							text1:'首页',
							// text2:'诗文',
							text3:'分类',
							// text4:'社区',
							text5:'登录',
							url:'photo/head.png'
					
				}
			},
			methods:{
				checkuser(){
					var uri="http://rap2.taobao.org:38080/app/mock/245255/api/user/login/check"
					axios({
					 	 method: 'get',
						  url: uri,
						 })
				    .then(response =>
				      { 
				      	if(response.data.code==200)
				      	{
					       
					      	this.text5="用户中心"
				       	}else{
				       		this.text5="登录"
				       	}
				      })
				      .catch(function (error) { // 请求失败处理
				        console.log(error);
				      });
				  },
				  jump(){
				  	if(this.text5=="登录")
				  	{
						window.location.href='login.html' ;
				  	}else{
						window.location.href='usercenter.html' ;
				  	}
				  }
				},
				mounted:function(){
					console.log('common-navigator 1');
					this.checkuser();
				}

		});


		new Vue({
			data(){
				return{
					message:null,
					name:null,
					Dynasty:'',
					selectedId:117,
					poetries:null,
					
					tag:'tag：'
				}
			},
			methods:{
					jumppoem(){
						axios({
						 	 method: 'get',
							  url: 'http://rap2.taobao.org:38080/app/mock/245255/api/categories',
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
					      		this.message=response.data.data;
						      	
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
				   	},
					judge(){
						 const url=new URLSearchParams(window.location.search);
						 if(url.has('bid')){
							this.selectedId=url.get('bid');
						 }
						 console.log(this.selectedId);
					},


					buttonpoem(e){
						if(e!=null){
							this.selectedId=e.currentTarget.getAttribute("bid");
							console.log('selectedId:'+this.selectedId);
							console.log('bid:'+e.currentTarget.getAttribute("bid"));
						}
						
				   	   	var uri='http://rap2.taobao.org:38080/app/mock/245255/api/category/id/'+this.selectedId;
				   	   	console.log(uri);
						axios({
						 	 method: 'get',
							  url: uri,
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
					      		console.log('yesyes');
						      	this.poetries = response.data.data.poetries;
						      	this.name = response.data.data.name;
						      	
						      	if(this.poetries.dynasty=="T")
						      	{
						      		this.Dynasty="唐";
						      	}else {
						      		this.Dynasty="宋";
						      	}
						       this.poetries.forEach(function(c){
					       	c.content=c.content.split('|');
						       })

						      	
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
				   	
			   
				  },
				  jumptopoem(e){
					window.location.href='poem.html?titleid=' + e.target.getAttribute('titleid');
				}
				},
				mounted:function(){
					console.log('main 1');
					this.jumppoem();
					console.log('main 2');
					this.judge();
					console.log('main 3');
					this.buttonpoem(null);
			},

				

		}).$mount('#app')
	</script>
</body>
</html>