<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>poem</title>
	<script src="node_modules/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
	<script src="node_modules/element-ui/lib/index.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script type="text/javascript" src="search.js"></script>
	<script type="text/javascript" src="categories.js"></script>
	<style>
		[v-cloak]{
		display: none;
	}
a{ color:white; text-decoration:none;}
a:hover{ color:white; text-decoration:none;}
a:active{ color:white; text-decoration:none;}
	
.poemkuang{
	display:inline-block;
	width:700px;
	height: auto;
	border: #C8C7BC solid 1.5px;
	background-color:#F0EFE2;
	border-radius: 15px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.rightkuang{
	display:inline-block;
	width:380px;
	height: auto;
	border: #C8C7BC solid 1.5px;
	background-color:#F0EFE2;
	border-radius: 15px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	
}
table{
	border-collapse:collapse;
}
	</style>
</head>
<body style="background-color: #E1E0C7">
	<div id="app">
		
				<common-navigator>
				</common-navigator>
			<search-component>
			</search-component> 
				
			
			<table style="width:100%">
				<tr>
					<!--第一列-->
					<td style="width:62%;vertical-align:top;text-align:right;padding-right: 60px;
					padding-top: 20px">
						<table style="width:100%;text-align:right;">
							<tr><td ><kuang1-component></kuang1-component></td></tr>
							<tr><td style="padding-top: 30px"><kuang2-component></kuang2-component></td></tr>
						</table>
					</td >
					<!--第二列-->
					<td style="width:38%;vertical-align:top;padding-top:20px;padding-left:20px;">
					<categories-component></categories-component>
					</td>
				</tr>
			</table>	
	</div>
	<script>
		Vue.component('common-navigator',{
				template:`<div v-cloak>
					<el-menu
					  :default-active="activeIndex2"
					  class="el-menu-demo"
					  mode="horizontal"
					  background-color="#5D6146"
					  text-color="#fff"
					  active-text-color="#F0EFE2"
					  >
		 <img src="photo/1.png" style="float:left;margin-left:120px;
		margin-top:5px;width:60px;height:50px;">
					
		  <el-menu-item index="1" ><a href="main.html">{{text1}}</a></el-menu-item>
		 
		  <el-menu-item index="3" ><a href="sort.html">{{text3}}</a></el-menu-item>
		 
		 <el-menu-item index="5" style="float: right;margin-right: 170px" @click="jump">{{text5}}&nbsp;<span class="demo-basic--circle"><span class="block"><el-avatar :size="26" :src="url" style="margin-bottom: 8px"></el-avatar></span></span></el-menu-item>
		</el-menu>
				
				</div>`,
				data(){
					return{
						activeIndex2: '1',
								text1:'首页',
								// text2:'诗文',
								text3:'分类',
								// text4:'社区',
								text5:'登录',
								url:'photo/head.png'
						
					}
				},
				methods:{
			checkuser(){
						var uri="http://rap2.taobao.org:38080/app/mock/245255/api/user/login/check"
						axios({
						 	 method: 'get',
							  url: uri,
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
						       
						      	this.text5="用户中心"
						      	
					       	}else{
					       		this.text5="登录"
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
					  },
					  jump(){
					  	if(this.text5=="登录")
					  	{
							window.location.href='login.html' ;
					  	}else{
							window.location.href='usercenter.html';
					  	}
					  }
					},
					mounted:function(){
						this.checkuser();
					}

			});
		Vue.component('my-search',{
			template:`
			<div>
			<div style="display:inline-block;float:left;margin-top:0px;margin-left:8%">
			<el-link type="info"  @click="back" style="float:left;margin-top:18px;font-size:large"><返回</el-link>
			<common-search :searchinput="content"></common-search>
			</div>
					
					</div>
					`,
			data(){
				return{
					content:''
				}
			},
			methods:{
				back(){
					history.back();
				},
				jump(){
			   	const url=new URLSearchParams(window.location.search);
			   	console.log(url.has('id'));
			   	var urlid = url.get('id');
		   	   	var uri='http://rap2.taobao.org:38080/app/mock/245255/api/category/id/'+urlid;
				axios({
				 	 method: 'get',
					  url: uri,
					 })
			    .then(response =>
			      { 
			      	if(response.data.code==200)
			      	{
				        console.log(response);
				      	// this.$refs.seachinput.value=response.data.data.name;
				      	this.content = response.data.data.name;
				      	
			      	}else{
			      		
			      	}
			      	
			      })
			      .catch(function (error) { // 请求失败处理
			        console.log(error);
			      });
			  }
				},
			mounted:function(){
				this.jump();
			}
		
		})
		Vue.component('search-component',{
			template:`
			<div>
			
			<div>
				<my-search></my-search>
				
				</div>
			</div>
			`,
			data(){
				return{
					
				}
			},
			methods:{
			}
		})


			Vue.component('kuang1-component',{
			template:`
			<div class="poemkuang">

			 <div style="margin:30px auto;text-align:center">
						  <div style="text-align:center;color:#19537D;font-size:x-large;font-weight:bolder;">
							  {{title}}</div>
							<br />
							<div style="text-align:center;color:grey;">【作者】<span>{{author}}</span>【朝代】<span>{{Dynasty}}</span></div>
							<br />
							<div style="text-align:center;line-height:25px" v-for="item in shortcontent">
								{{item}} 
							</div>		
							</div>             
	             
					<div style="float:right;margin-top:15px;margin-right:20%;"><i class="el-icon-edit-outline" >&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-发帖引用</el-link></i></div>
			<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-star-off
">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-加入收藏</el-link></i></div>
			<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-picture-outline">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-生成图片分享</el-link></i></div>
			<div style="float:right;margin-top:15px;margin-right:30px"><i class="el-icon-share">&nbsp;<el-link type="primary" style="color:#19537D;font-weight:bold">-分享诗词</el-link></i></div>
	             
					<br /><br /><br />

		            <div style="text-align:left;font-size:large;color:#19537D;margin-left:40px
		           "><i class="el-icon-collection-tag"></i>{{tag}}<el-button size="mini" round v-for="item in categories"  style="color:#19537D">{{item.name}}</el-button>
						</div>
				<div style="height:20px"></div>


			</div>
			`,
			data(){
				return{
					title:null,
					author:null,
					Dynasty:'',
					shortcontent:null,
					
					poetries:null,
					categories:null,
					tag:'tag：'
				}
			},
			methods:{
				jumppoem(){
				   	const url=new URLSearchParams(window.location.search);
				   	console.log(url.has('titleid'));
				   	if(url.has('titleid')==true)
				   	{
				   		console.log('进入jumppoem');
						var urlid = url.get('titleid');
				   	   	var uri='http://rap2.taobao.org:38080/app/mock/245255/api/poetry/id/'+urlid;
						axios({
						 	 method: 'get',
							  url: uri,
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
					      		console.log('进入response');
						        console.log(response);
						      	// this.$refs.seachinput.value=response.data.data.name;
						      	this.poetries = response.data.data;
						      	this.title=this.poetries.title;
						      	this.author=this.poetries.author;
						      	this.categories=this.poetries.categories;
						      	if(this.poetries.dynasty=="T")
						      	{
						      		this.Dynasty="唐";
						      	}else {
						      		this.Dynasty="宋";
						      	}
						        this.shortcontent=this.poetries.content.split('|');

						      	
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
				   	}
			   
				  }
				},
			mounted:function(){
				this.jumppoem();
			}
		})



Vue.component('kuang2-component',{
			template:`
			<div class="poemkuang">
				 <div style="text-align:left;font-size:larger;margin-left:43px;margin-top:20px">{{name}}</div>
			  <div style="text-align:left;font-family:NSimSun;margin-left:43px;
			  margin-right:42px;margin-top:15px">{{intro}}</div>
		          
				<div style="height:20px"></div>


			</div>
			`,
			data(){
				return{
					name:null,
					intro:null,
					shortcontent:null,
					
					poetries:null,
					
				}
			},
			methods:{
				jumppoem(){
				   	const url=new URLSearchParams(window.location.search);
				   	console.log(url.has('titleid'));
				   	if(url.has('titleid')==true)
				   	{
				   		console.log('进入jumppoem');
						var urlid = url.get('titleid');
				   	   	var uri='http://rap2.taobao.org:38080/app/mock/245255/api/poetry/id/'+urlid;
						axios({
						 	 method: 'get',
							  url: uri,
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
					      		console.log('进入response');
						        console.log(response);
						      	// this.$refs.seachinput.value=response.data.data.name;
						      	this.poetries = response.data.data;
						      	this.name=this.poetries.poetryAuthor.name;
						      	this.intro=this.poetries.poetryAuthor.intro;
						      	if(this.poetries.dynasty=="T")
						      	{
						      		this.Dynasty="唐";
						      	}else {
						      		this.Dynasty="宋";
						      	}
						        this.shortcontent=this.poetries.content.split('|');

						      	
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
				   	}
			   
				  }
				},
			mounted:function(){
				this.jumppoem();
			}
		})


			




		new Vue({
			data(){
				return{

				}
			},
			methods:{

			}
		}).$mount('#app')
	</script>
</body>
</html>